.header {
	background-color: #2CCFA2;
}
.h4-header {
	color: white;
}
.h5-header {
	color: white;
}
.filters {
	background-color: #25B6FF;
}

.col-md {
	padding: 10px;
}

.item {
	padding: 20px;
}

.logo {
	background-color: #25B6FF ;
	padding: 11px;
	border-radius: 5px;
}

.country {
	padding: 5px;
}

.rooms {
	padding: 5px;
}

.unChecked {
	color: gray;
	padding: 5px;
}

.checked {
	color: white;
	padding: 5px;
}

.price {
	padding: 5px;
	background-color:  #25B6FF ;
}






