.header {
	background-color: #2CCFA2;
}
.h4-header {
	color: white;
}
.h5-header {
	color: white;
}
.filters {
	background-color: #25B6FF;
}

.container-fluid {
	padding: 10px;
}
.col-md {
	padding: 10px;
}

.item {
	padding: 20px;
}

.logo {
	background-color: #25B6FF ;
	padding: 11px;
	border-radius: 5px;
}





